---
import Layout from '../layouts/Layout.astro'
import { Button } from '../components/ui/button'
---

<Layout>
  <main
    class="flex min-h-[--main-height] max-w-screen-xl flex-col bg-gray-900 text-gray-100 lg:mx-auto"
  >
    <article
      class="grid flex-1 place-content-center gap-y-6 px-4 text-center lg:gap-y-8 lg:px-8"
    >
      <h1
        class="bg-gradient-to-r from-cyan-400 to-blue-500 bg-clip-text text-4xl font-bold tracking-tighter text-transparent sm:text-5xl md:text-6xl lg:text-7xl/none"
      >
        Joshua Richardson
      </h1>

      <p
        class="mx-auto max-w-[700px] text-xl text-gray-400 lg:mx-0 lg:text-2xl"
      >
        Transforming ideas into seamless digital solutions
      </p>

      <div
        class="flex flex-col justify-center space-y-4 self-stretch sm:flex-row sm:space-x-4 sm:space-y-0"
      >
        <a href="/resume" class="w-full min-w-44 sm:w-auto">
          <Button
            className="w-full bg-cyan-500 px-8 py-3 text-lg text-gray-900 hover:bg-cyan-600"
          >
            CV
          </Button>
        </a>

        <a href="/projects" class="w-full min-w-44 sm:w-auto">
          <Button
            variant="outline"
            className="w-full border-cyan-500 bg-transparent px-8 py-3 text-lg text-cyan-400 hover:bg-cyan-500 hover:text-gray-900"
          >
            Projects
          </Button>
        </a>
      </div>
    </article>
  </main>
</Layout>

<script>
  const header = document.querySelector('header')
  const main = document.querySelector('main')

  if (!header || !main) throw new Error('Elements not found')
  const { height } = window.getComputedStyle(header)
  main.style.setProperty('--main-height', `calc(100vh - ${height})`)
</script>
