---
type Props = { description?: string; title?: string }

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en" class="bg-gray-900 text-white">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description ?? ''} />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title ?? 'Astro Starter'}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
